<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch our company focues on creating an exclusive community for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, ex, deserunt, illum ipsa accusamus adipisci minus eaque a quam fuga consequuntur odio reiciendis vero quo ullam neque molestias placeat distinctio?</p>
</div>